body{
    background: #020e19;
    background-image: url("../img/slider-bg.jpg");
    background-position: center;
    text-align: center;
}
.head_menu {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0;
    padding: 30px 0;
    border: none;
}
.navbar-brand {
    color: #dc023f !important;
}
.navbar-nav li>a {
    color: #abb7c4 !important;
}
.navbar-nav, active > a {
    color: #ffffff !important;
}
.sliderbg {
    background: url(../img/slider-bg.jpg) no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    padding-bottom: 50px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat-x;
}
.movie_item{
    background: transparent !important;
    background: none !important;
}
.movie-items{
    padding: 170px 0;
    border-radius: 5px;
}
.movie_item:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.movie_item_txt {
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 33;
}

.movie_item_txt > span {
    position: absolute;
    bottom: 70px;
    background: #a6bb16;
    color: #ffffff;
    padding: 5px;
}
.movie_item_txt a{
    color: #ffffff;
    text-decoration: none;
    text-align: left;

}
.movie_item_cal {
    position: absolute;
    bottom: 100px;
    left: 15px;
    padding: 5px;
}
.movie_item_cal > p {
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    margin-right: 15px;
}
.movie_item_cal > i {
    color: #f5b50a;
    font-size: 25px;
}

.login {
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin-top: 30px;
}

.loginOver {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 90px;
    height: 90px;
    background: rgba(220, 2, 63, 0.9);
    z-index: 10;
    border-radius: 15px;
}

.loginOver i{
    margin-top: 20px;
    z-index: 11;
    color: #ffffff;
}

.bg-morado{
    background-color: #6f42c1;
}
